/* CSS Document */

body {
	
	
	background-repeat: no-repeat;
	font-family:Arial, Helvetica, sans-serif;
}

form
{
	margin:0;
	padding:0;
}

a:link,
a:active,
a:visited
{
	
}

a:hover
{
	
}



.header {
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	width:934px;
	position:relative;
	height:195px;
	
}

#copyright
{
	font-size:11px;
	
	width:934px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-bottom:10px;
}

.disabledrow td
{
	background-color:red !important;
}

.bannerAd{
	width:729px;
	height:90px;
	margin-left:auto;
	margin-right:auto;
	
}

.errordiv
{
	padding:10px;
	
	font-weight:bold;
}

.TopSearchBox
{
	height:12px;
	font-size:11px;
	margin-top:2px;
	
}

.user_box
{
	
}

.user_box_link
{
	
	padding:7px;
	
	font-size:12px;
	text-align:right;
	width:145px;
}

.user_box a:Link,
.user_box a:Active,
.user_box a:Visited
{
	
}

.user_box a:Hover
{
	
}

.userbox_extra
{
	padding-left:15px;
	padding-bottom:7px;
	font-size:12px;
	
	
	
}

.userbox_extra_title
{
	padding-left:15px;
	padding-bottom:3px;
	padding-top:10px;
	font-size:14px;
	font-weight:bold;
	
}

.user_box_visit
{
	
	font-size:12px;
	padding:7px;
}


.user_box_login input
{
	width: 140px;
	
	border-width: 1px ;
	border-style:solid  ;
	
}

.loginbutton
{
	
	
	width: 100px !important;
}

.user_box_login
{
	font-size:12px;
	padding:7px;
}

.deletetxt
{
	
	font-size:10px;

}

.editbox input
{
	margin-bottom:7px;
	border-width: 1px ;
	border-style:solid  ;
	padding:0;

}

.editbox
{
	
	z-index:1000;
	position:relative;
	
	width:160px;
	font-size:12px;
}

.editbox div
{
	
	border-bottom-width: 1px ;
	border-bottom-style:solid  ;
	text-decoration:underline;
	
}

.editbox a:Link,
.editbox a:Visited,
.editbox a:Active,
.editbox div
{
	padding:7px;
}

.editbox a:hover,
.editbox div:hover
{
	
	cursor:pointer;
}


	


.navBtns{
	position:relative;
	float:right;
	padding-right:9px;
	padding-top:76px;
}




.minorNavTop a:link,
.minorNavTop a:visited,
.minorNavTop a:active
{
	
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}



.minorNavTop a:hover{
	
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}



.whiteBodyTop{
	background-image:url(../../images/heman/whitebacktop.png);
	background-repeat: no-repeat;
	vertical-align:bottom;
	width:934px;
	height:10px;
	
	
	
}
.whiteBodyBottom{
	background-image:url(../../images/heman/whitebackbottom.png);
	background-repeat: no-repeat;
	height:11px;
	width:934px;
	
}
	
.whiteBodyCenter{
	
	min-height:500px;
	width:934px;
	position:relative;
	
	
}
.whiteBody{
	
	margin-left:auto;
	margin-right:auto;
	width: 934px;
	text-align: left;
	
	position:relative;
	top:-50px;
	
	z-index:1;
}

.minorNavBottom select
{
}

.minorNavBottom{
	margin-left:auto;
	margin-right:auto;
	height:30px;
	width:934px;
	position:relative;
	top:-45px;
	
	
	padding-left:30px;
	padding-right:30px;
	
	text-decoration:none;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;	
}

.minorNavBottom a:link, .minorNavBottom a:visited, .minorNavBottom a:active{
	
	text-decoration:none;
	font-family:verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
}

.minorNavBottom a:hover
{
	
}

.breadCrumbs{
	background-image:url(../../images/heman/minifolder.gif);
	background-repeat: no-repeat;
	height:30px;
	width:500;
	
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:25px;
	padding-top:4px;
	margin-left:3px;
	position:relative;
}

.breadCrumbs a:link{
	
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
}


.breadCrumbs a:visited{
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
}


.breadCrumbs a:active{
	
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
}


.breadCrumbs a:hover{
	
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
}


#leftBar
{ 
	width:173px;
	
	float:left;
	
	
}


#centerContent
{ 
	
	width:585px;
	float:left;
	
	position:relative;
	
}

#rightBar
{ 
	float:right;
	width:176px;
	
	
	
	
}

.rightBrowse{
	
	width:159px;
	
	vertical-align:top;
	border:1px;
	
	border-style:solid;
	
	margin-top:0px;
	margin-bottom:11px;
	margin-left:7px;
	margin-right:7px;
}

.centerBrowse{
	width:159px;
	
	vertical-align:top;
	border:1px;
	
	border-style:solid;
	
	margin-top:0px;
	margin-bottom:11px;
	margin-left:7px;
	margin-right:7px;
	
	min-height:100px;
}

.leftBrowse{
	font-family: Helvetica, sans-serif;
	width:159px;
	
	vertical-align:top;
	
	border-top-width:1px  ;
	border-left-width:1px  ;
	border-right-width:1px  ;
	border-top-style: solid ;
	border-left-style: solid ;
	border-right-style: solid ;
	
	margin-top:0px;
	margin-bottom:11px;
	margin-left:7px;
	margin-right:7px;
}

.leftBrowseBox
{
	background-image:url(../../images/heman/wbox.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	padding-left:16px;
}

.leftBrowse a:Link, .leftBrowse a:visited, .leftBrowse a:active{
	font-family: Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	
	
}

.leftBrowse a:Hover {
	font-family: Helvetica, sans-serif;
	
	font-size:14px;
}

.leftBrowse_nobox a:Link, .leftBrowse_nobox a:visited, .leftBrowse_nobox a:active{
	background-image:none;
	padding-left:0px;
	font-family: Helvetica, sans-serif;
	
	font-size:14px;
	text-decoration:none;
}

.leftBrowse_nobox a:Hover {
	font-family: Helvetica, sans-serif;
	
	font-size:14px;
}


.left_browse_text
{
	font-size:12px;
	padding-left:7px;
	padding-right:7px;
	padding-top:2px;
	padding-bottom:2px;
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	
	border-bottom-style:solid  ;
	border-bottom-width: 1px ;
}

.headingDark_text
{
	
	font-size:12px;
	padding-left:15px;
	
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:bold;
}

.yellow_heading_text
{
	
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	position:absolute;
	right:7px;
	top:2px;
}

.heading_text input
{
	font-size:10px;
	height:14px;
	margin-top:-3px;
}

.heading_text {
	
	font-size:12px;
	padding-left:7px;
	padding-right:7px;
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:bold;
}

.heading_text a:link,
.heading_text a:active,
.heading_text a:visited
{
	
}

.heading_text a:hover
{

}

.imageviewerthumbview
{
	overflow-x:auto; 
	float:left;
	
	min-width:150px;
	max-width:100%;
	
	

}

.image_viewer_table
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	margin-left:auto;
	margin-right:auto;
}

.image_viewer_table td
{
	text-align:center;
}

.edittitle
{
	font-size:14px;
	

	font-weight:bold;
	width:150px;
}


.image_viewer_image_edit
{
	text-align:center;
	padding:5px;
	border-style:solid  ;
	border-width: 1px ;
}

.image_viewer_image
{
	text-align:center;
	padding-left:1px;
	padding-right:1px;
	min-height:106px;
	height:auto !important;
	height:106px;
}

.image_viewer_desc
{
	
	font-size:10px;
	text-align:center;
	vertical-align:top;
}

.image_viewer_section
{
	text-align:left !important;
	margin-right:10px;
	font-size:11px;
}



h1{
	
	font-size:10px;
	padding-left:7px;
	padding-top:1px;
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
}

h2{
	font-size:12px;
	padding-left:7px;
	padding-top:1px;
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	margin-top:6px;
	margin-bottom:6px;
}

h3{
	padding-left:14px;
	font-size:10px;
	padding-top:1px;
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	margin:2px;
}

.Details_Desc
{
	
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:bold;
	margin-left:3px;
	padding-right:3px;
	width:1%;
	vertical-align:top;
}

.Details_Value
{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
	vertical-align:bottom;
}

.Details_Value select
{
	width:175px;
}

.sectionTitle{
	background-repeat: no-repeat;
	width:571px;
	height:63px;
	background-image:url(../../images/heman/header_graphics/section_banner.gif);
	vertical-align:top;
	
	border-style:solid;
	border-width:1px;
	
	margin-top:0px;
	margin-bottom:7px;
	margin-left:7px;
	margin-right:7px;
	
}

.pageDescription{
	
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	
	vertical-align:top;
	padding-right:15px;
	padding-left:15px;
	margin-top:10px;
	text-align:justify;
}

.pageDescription H1{
	

	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:0px;
}




.pageSection
{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	position:absolute;
	top:10px;
	left:15px;
}

.pageHeading
{
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;

}

.pageTitle{
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	vertical-align:top;
	
	position:absolute;
	top:35px;
	left:15px;
}

.pageSection2
{
	
	font-size:20px;
	position:absolute;
	top:5px;
	left:15px;
	font-family:sans-serif,Arial, Helvetica ;
	font-weight:bold;
}

.pageTitle2
{
	font-family:sans-serif,Arial, Helvetica ;
	
	vertical-align:top;
	
	position:absolute;
	top:35px;
	left:15px;
}


.box
{
	position:relative;
	margin:0px 7px 7px 7px;
}

.toplinebox
{
	position:relative;
	margin:0px 7px 7px 7px;
	border-top-width: 1px  ;
	border-top-style:  solid ;
}

.bottomlinebox
{
	position:relative;
	margin:0px 7px 7px 7px;
	border-bottom-width: 1px  ;
	border-bottom-style:  solid ;
}

.redBottom{
	
	
	font-family:Arial, Helvetica, sans-serif;
	
	font-size:20px;
	font-weight:bold;
	
	border-left-width: 1px  ;
	border-right-width: 1px  ;
	border-bottom-width: 1px  ;
	border-left-style:  solid ;
	border-right-style:  solid ;
	border-bottom-style:  solid ;
	
	padding:5px;
	
	top:0px;
	position:relative;
}

.blueTopTall{
	
	background-repeat: repeat-x;
	
	height:30px;
	
	border-bottom-style:  solid ;
	border-bottom-width: 1px  ;
	
	padding-top:3px;
	
}

.blueTop{
	background-repeat: repeat-x;
	
	
	
	min-height:16px;
	height:auto !important;
  	height:16px;

	
	border-bottom-style:  solid ;
	border-bottom-width: 1px  ;
	
	
	
	padding-top:3px;
	
}

.blueTopBorder{
	background-repeat: repeat-x;
	
	height:16px;
	border-bottom-style:  solid ;
	border-bottom-width: 1px  ;
	
	
	
	padding-top:3px;
	
}

.leftrightborder
{
	border-left-style:  solid ;
	border-left-width: 1px  ;
	border-right-style:  solid ;
	border-right-width: 1px  ;
	
	
}

.topbottomborder
{
	border-top-style:  solid ;
	border-top-width: 1px  ;
	border-bottom-style:  solid ;
	border-bottom-width: 1px  ;
	
}

.topBorder
{
	border-style:  solid ;
	border-width: 1px  ;
	
}

.redTop{
	
	background-repeat: repeat-x;
	
	min-height:16px;
	height: auto !important;
	height: 16px;
	
	border-bottom-style:  solid ;
	border-bottom-width: 1px  ;
	position:relative;
	padding-top:3px;
	
}


.related_item a:link,
.related_item a:active,
.related_item a:visited
{
	
}

.related_item a:hover
{
	
}


.related_item
{
	
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:bold;
	padding-left:7px;

}

.related_title
{
	padding-left:7px;
	padding-top:7px;
	
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:normal;
}

.faqAnswer
{
	
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	margin-left:20px;
}

.faqQuestion a:link,
.faqQuestion a:active,
.faqQuestion a:visited,
.faqQuestion a:hover
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	
}


.faqQuestion
{
	background-image:url(../../images/heman/wbox.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	padding-left:15px;
	margin-top:15px;
	margin-bottom:5px;
}


.section_title a:link,
.section_title a:visited,
.section_title a:active
{
	
}

.section_title a:hover
{
	
}

.section_title
{
	font-size:12px;
	padding-left:30px;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	
	background-image:url(../../images/heman/thread_new.gif);
	background-position:left center;
	background-repeat:no-repeat;
	
}

.section_title_box p
{
	margin-top:5px;
	margin-bottom:5px;
}

.section_title_box
{
	font-size:12px;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	
	background-image:url(../../images/heman/wbox.jpg);
	background-position:left center;
	background-repeat:no-repeat;
	
}

.section_sub_title
{
	font-size:12px;
	padding-left:30px;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	margin-top:10px;
	
	
}


.section_desc p
{
	padding:0;
	margin:0;
}

.section_desc
{
	padding-left:30px;
	
	font-weight:normal;
	font-size:12px;
	
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	margin-bottom:15px;
}

.translate_table
{
	width:100%;
	border:solid 1px black;
	border-collapse:collapse;
	margin-bottom:10px;
}

.translate_table td
{
	border-bottom:solid 1px black;
	border-left:solid 1px black;
	width:50%;
	padding:4px;
}

.translate_table_header td
{
	
}


.userlist-SuperAdmin
{
	
}

.userlist-Admin
{
	
}

.userlist-Editor
{
	
}

.userlist-User
{
	
}

